// Удаление скролла в сайдбаре
.v-navigation-drawer__content {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.v-tab--active {
  box-shadow 0 0 20px rgba(144, 144, 144, 0.2);
}

a {
  text-decoration: none
  font-weight: 500
}
